<footer class="">

{{ partial "newsletter-form" . }}

				<ul class="">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About Rob</a></li>
					<li><a href="/news" class="link">News</a></li>
					<li><a href="/exhibitions" class="link">Exhibitions</a></li>
					<li><a href="/gallery" class="link">Gallery</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
					<li><a href="/sales" class="link">Sales</a></li>
				</ul>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

{{ partial "footer-scripts" . }}

</body>

</html>
