<div class="main">
  
  <div class="gamma-container gamma-loading" id="gamma-container">

    <ul class="gamma-gallery">
      
      <li>
        
        <div data-alt="View full size version of POST TITLE" data-description="<h3>POST TITLE</h3><a href=&quot;#&quot; class=&quot;gamma-link&quot;>View full post</a>" data-max-width="1300" data-max-height="1350">
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1000"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="700"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="200"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="140"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg"></div>
          <noscript>
            <img src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" alt="View full size version of post.title"/>
          </noscript>
        </div>
      </li>

      <li>
        
        <div data-alt="View full size version of POST TITLE" data-description="<h3>POST TITLE</h3><a href=&quot;#&quot; class=&quot;gamma-link&quot;>View full post</a>" data-max-width="1300" data-max-height="1350">
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1000"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="700"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="200"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="140"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg"></div>
          <noscript>
            <img src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" alt="View full size version of post.title"/>
          </noscript>
        </div>
      </li>

      <li>
        
        <div data-alt="View full size version of POST TITLE" data-description="<h3>POST TITLE</h3><a href=&quot;#&quot; class=&quot;gamma-link&quot;>View full post</a>" data-max-width="1300" data-max-height="1350">
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1000"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="700"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="200"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="140"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg"></div>
          <noscript>
            <img src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" alt="View full size version of post.title"/>
          </noscript>
        </div>
      </li>


      <li>
        
        <div data-alt="View full size version of POST TITLE" data-description="<h3>POST TITLE</h3><a href=&quot;#&quot; class=&quot;gamma-link&quot;>View full post</a>" data-max-width="1300" data-max-height="1350">
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1000"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="700"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="200"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="140"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg"></div>
          <noscript>
            <img src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" alt="View full size version of post.title"/>
          </noscript>
        </div>
      </li>


      <li>
        
        <div data-alt="View full size version of POST TITLE" data-description="<h3>POST TITLE</h3><a href=&quot;#&quot; class=&quot;gamma-link&quot;>View full post</a>" data-max-width="1300" data-max-height="1350">
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="1000"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="700"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="300"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="200"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" data-min-width="140"></div>
          <div data-src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg"></div>
          <noscript>
            <img src="/img/temp-delete/2017-04-12-shadows-manchester-piccadilly-1600.jpg" alt="View full size version of post.title"/>
          </noscript>
        </div>
      </li>
      
    </ul>

    <div class="gamma-overlay"></div>

  </div>

</div><!--/main-->
