{{ define "main" }}
<div class="page-content slide" id="main">
  <div class="wrapper">
    <div class="painting-page">
      <div class="painting-page__main-image--wrapper painting-page__main-image--landscape">
        {{ if .Params.image }}
          <picture>
            <source srcset="{{ .Params.image }}" media="(min-width: 1600px)">
            <source srcset="{{ .Params.image }}" media="(min-width: 1024px)">
            <source srcset="{{ .Params.image }}">
            <img src="{{ .Params.image }}" class="painting-page__main-image" alt="{{ .Title }}">
          </picture>
        {{ end }}

      </div>
      
      <h1 class="painting-page__h1 center">{{.Title}}</h1>
    
      <div class="painting-page__content-wrapper">

        {{ .Content }}

      </div>
    </div>
  </div>
</div>
{{ end }}